*.DS_Store
*.swp
RAW_DATA/
RAW_DATA
REDUX_OUT/
REDUX_DATA/
Cooked
CALIBS
*.pckl
*.pyc
dev_algorithms/data
NIRES_MASTERS
Telluric
DEIMOS_QL_TST
QL_MASTERS/
.idea/
nautilus/yaml_files/*.yaml
dev_algorithms/jwst/ar_2023/*.fits
